<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataRobot TestTask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="card">
        <h5 class="card-header">Please, provide a link to GoogleSheet</h5>
        <form method="POST">
            <input name="googleSheetLink" style="border-bottom-color: #444444"><br/>
            <input type="submit" value="Submit GoogleSheet Link" style="color: green">
        </form>
    </div>
</body>
</html>